body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

header {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 32px;
    font-weight: bold;
}

nav {
    background: whitesmoke;
    padding: 10px;
    text-align: left;

}

nav a {
    margin-right: 15px;
    color: rgb(65, 114, 114);
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 20px;
    background: whitesmoke;
    margin: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 0.02px;
    background: rgb(78, 152, 154);
    margin-top: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}